--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
transformers
streamlit
pandas
numpy
dvc
nltk[all]
spacy
mlflow
scikit-learn
PyYAML
fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-community
langchainhub
google-search-results
serpapi
xmltodict
peft
bitsandbytes
trl
accelerate
datasets>=2.19.0
pyarrow
pydantic-settings
huggingface_hub